@tailwind base;
@tailwind components;
@tailwind utilities;

/* Fonts */
@font-face {
  font-family: 'onest';
  src: url('../assets/fonts/onest/OnestRegular.ttf') format('truetype');
  font-weight: 400;
}

@font-face {
  font-family: 'onest';
  src: url('../assets/fonts/onest/OnestMedium.ttf') format('truetype');
  font-weight: 500;
}

@font-face {
  font-family: 'onest';
  src: url('../assets/fonts/onest/OnestBold.ttf') format('truetype');
  font-weight: 700;
}

@font-face {
  font-family: 'hooge';
  src: url('../assets/fonts/hooge/hooge.ttf') format('truetype');
  font-weight: 400;
}

/* Default styles */
@layer components {
  body {
    @apply font-onest font-medium text-black;
  }
}

/* Hamburger menu toggle */
@layer utilities {
  .hamburger-toggle {
    @apply h-0 bg-white before:!translate-y-0 before:rotate-45 after:!translate-y-0 after:-rotate-45;
  }
}

/* Hide arrows in number input */
@layer base {
  input[type='number']::-webkit-outer-spin-button,
  input[type='number']::-webkit-inner-spin-button,
  input[type='number'] {
    -webkit-appearance: none;
    margin: 0;
    -moz-appearance: textfield !important;
  }
}
